<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <servlet>
        <servlet-name>com.copulaapp.webservice.Copula</servlet-name>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.copulaapp.webservice.controllers,
                com.copulaapp.mediaws.controllers,com.copulaapp.webservice.exception
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.glassfish.jersey.media.multipart.MultiPartFeature,
                org.glassfish.jersey.logging.LoggingFeature
            </param-value>
        </init-param>

        <init-param>
            <param-name>org.glassfish.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.copulaapp.webservice.filter.AuthenticationFilter</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.copulaapp.webservice.Copula</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Define the Login Configuration for this Application -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>WebAPI Realm</realm-name>
    </login-config>

</web-app>